:root {
  --light_gray_color: #adb5bd;
  --black_text_color: #343a40;
  --main_color: #e3fafc;
  --main_darker_color: #1098ad;
  --main_darker2_color: #0c8599;
  --font-serif: "Lora", serif;
  --premium_color: #fcc419;
}

/* GENERAL */

*,
html,
body {
  font-family: "Montserrat", sans-serif;
}

section {
  padding: 3rem 0;
  margin: 5rem 0;
}

h1,
h2,
h3 {
  font-family: var(--font-serif);
}

.ms_bg_main {
  background-color: var(--main_color);
}

.ms_text_main {
  color: var(--main_color);
}

.ms_text_main_darker {
  color: var(--main_darker_color);
}

.ms_black_text {
  color: var(--black_text_color);
}

.ms_light_gray_text {
  color: var(--light_gray_color);
}

.ms_section_title {
  color: var(--black_text_color);
  font-size: 2rem;
  margin-bottom: 2.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dee2e6;
}

.ms_section_title.ms_border_dark {
  border-bottom: 1px solid #868e96;
}

.ms_paragraph_text {
  color: var(--black_text_color);
}

/* BUTTONS */

.ms_btn {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
}

.ms_btn.ms_btn_main {
  background-color: var(--main_darker_color);
  color: white;
}

.ms_btn_main:hover {
  background-color: var(--main_darker2_color);
}

.ms_btn.ms_btn_yellow {
  background-color: var(--premium_color);
  color: var(--black_text_color);
}

/* HEADER */

.ms_navbar {
  opacity: 97%;
}

.ms_navbar_collapse {
  flex-grow: 0 !important;
}

.ms_logo_navbar {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 500;
  font-family: var(--font-serif);
}

.ms_svg_navbar {
  width: 1.7rem;
  filter: brightness(0) saturate(100%) invert(56%) sepia(39%) saturate(859%)
    hue-rotate(140deg) brightness(81%) contrast(100%);
}

/* MAIN */

/* --jumbotron */

#jumbotron {
  height: 35rem;
  background-image: url("../img/villa-posarellivillas.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

#jumbotron h1 {
  font-size: 3rem;
  font-family: var(--font-serif);
  font-weight: 500;
  color: var(--black_text_color);
}

#jumbotron .ms_overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7) 10%,
    rgba(0, 212, 255, 0) 50%
  );
}

#jumbotron .container {
  margin-top: 6rem;
}

/* --premium apartments */

#premium-apartments {
  padding-top: 8rem;
  margin: 0;
}

#premium-apartments .ms_premium_icon {
  height: 2rem;
  width: 2rem;
  border-radius: 0.5rem;
  background-color: var(--premium_color);
  text-align: center;
  line-height: 2rem;
  color: var(--black_text_color);
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

.ms_img_container img {
  transition: all 0.4s ease;
  opacity: 1;
}

.ms_img_container:hover img {
  filter: grayscale(1);
  opacity: 0.3;
}

.ms_img_container .ms_overlay_box {
  transition: all 0.4s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--black_text_color);
  font-weight: 500;
  text-decoration: none;
  font-size: 1.5rem;
}

.ms_img_container:hover .ms_overlay_box {
  opacity: 1;
}

/* --features */

#features .ms_icon {
  color: var(--main_darker_color);
  font-size: 1.5rem;
}

/* --they say */

.ms_magazine_logos {
  margin-top: 4rem;
}

.ms_magazine_logos img {
  height: 2rem;
  filter: brightness(0);
  opacity: 50%;
}
